# the domain of the site to return links to
site: "https://thing-in-itself.net/i/"

# the maximum upload size, in bytes
max_size: 10485760

# the relative directory to store uploads under
store: u

# the size of the random slug, in bytes (base64 encoded)
slug_size: 16

# the map of known tokens to users (i use UUIDs generated with `uuidgen`)
tokens:
  2536ee65-1241-4133-9551-4e4adf09b228: william

# the relative logfile to write to
logfile: "rsus.log"
